log/
.vscode/
build/
dual_arm_workcell_description/launch/__pycache__/
dual_arm_workcell_driver/launch/__pycache__/
dual_arm_workcell_moveit_config/launch/__pycache__/
ai_soft_touch_motion_planning/launch/__pycache__/
ai_soft_touch_motion_planning_msgs/launch/__pycache__/
open_set_object_detection/scripts/groundingdino/
open_set_object_detection/scripts/weights/